{% import "macros.jinja2" as macros %}

<h4>Physical properties</h4>
<form class="form-horizontal">
    {{ macros.number_input("numExtruders", "Number of Extruders", "Number of extruders to simulate on the virtual printer") }}
    <br/>
    {{ macros.checkbox_input("hasBed", "Has bed", "Whether the simulated printer should also simulate a heated bed or not") }}
    <br/>
    {{ macros.checkbox_input("hasChamber", "Has chamber", "Whether the simulated printer should also simulate a heated chamber or not") }}
    <br>
    {{ macros.checkbox_input("sharedNozzle", "Shared Nozzle", "Whether the simulated printer should also simulate a shared nozzle or not") }}
    <br/>
    {{ macros.checkbox_input("ambientTemperature", "Ambient Temperature", "Simulated ambient temperature in °C") }}
    <!-- Pinned Extruders are not available, as I think the config might be broken... -->
</form>
