{% import "macros.jinja2" as macros %}

<h4>Responses settings</h4>
<form class="form-horizontal">
    {{ macros.checkbox_input("okAfterResend", "Ok after resend", "Whether to send an additional \"ok\" after a resend request (like Repetier)") }}
    <br>
    {{ macros.checkbox_input("okWithLinenumber", "Ok with line number", "Whether to send \"ok\" responses with the line number that gets acknowledged by the \"ok\". Defaults to false") }}
    <br>
    {{ macros.checkbox_input("includeCurrentToolIntemps", "Include current tool in temps", "Whether to include the current tool temperature in the M105 output as separate T segment or not.") }}
    <br>
    {{ macros.checkbox_input("repetierStyleTargetTemperature", "Repetier style target temperature", "If enabled, reports the set target temperatures as separate messages from the firmware") }}
    <br>
    {{ macros.checkbox_input("smoothieTemperatureReporting", "Smoothie style temperature reporting", "If enabled, reports the first extruder in M105 responses as T instead of T0") }}
    <br>
    {{ macros.checkbox_input("okBeforeCommandOutput", "Ok before command output", "If enabled, ok will be sent before a commands output, otherwise after") }}
    <br>
    {{ macros.checkbox_input("includeFilenameInOpened", "Include filename in opened", "Whether to include the selected filename in the M23 File opened response.") }}
    <br>
    {{ macros.checkbox_input("sdFiles.size", "Extended file list", "Whether M20 responses will include filesize or not") }}
    <br>
    {{ macros.checkbox_input("sdFiles.longname", "Long name reporting", "Whether M20 responses will include longname or not (only if size is checked as well)") }}
    <br>
    {{ macros.checkbox_input("sdFiles.longname_quoted", "Quoted long name reporting", "Whether the filenames in the long M20 responses will be quoted") }}
    <br>
    {{ macros.checkbox_input("sendWait", "Send wait responses", "Whether to send \"wait\" responses every \"Wait Interval\" seconds when serial RX buffer is empty") }}
    <br>
    {{ macros.number_input("waitInterval", "Wait Interval", "Interval in which to send \"wait\" lines when rx buffer is empty") }}
    <br>
    {{ macros.number_input("resend_ratio", "Resend ratio", "Ratio of commands that are resent (resend every <span data-bind=\"text: resend_every_n\"></span> lines)") }}
    <br>
    {{ macros.text_input("okFormatString", "'ok' string format", "Format string for ok response. Placeholders:<br> <code>lastN</code>: Last acknowledged line number<br> <code>buffer</code>: empty slots in internal command buffer") }}
    <br>
    {{ macros.text_input("m105TargetFormatString", "M105 Target format", "Format string for M105 response when there is a target temp. Placeholders:<br> <code>heater</code>: Heater ID (eg. T0, T1, B)<br> <code>actual</code>: The actual temperature of the heater<br> <code>target</code>: The target temperature of the heater") }}
    <br>
    {{ macros.text_input("m105NoTargetFormatString", "M105 No target format", "Format string for M105 response when there is <strong>no</strong> target temp. Placeholders: <br> <code>heater</code>: Heater ID (eg. T0, T1, B) <br> <code>actual</code>: The actual temperature of the heater") }}
</form>
