include README.md
recursive-include octoprint_virtual_printer_settings/templates *
recursive-include octoprint_virtual_printer_settings/translations *
recursive-include octoprint_virtual_printer_settings/static *
include versioneer.py
include octoprint_virtual_printerconfig/_version.py
