include README.md
recursive-include octoprint_virtual_printerconfig/templates *
recursive-include octoprint_virtual_printerconfig/translations *
recursive-include octoprint_virtual_printerconfig/static *
include versioneer.py
include octoprint_virtual_printerconfig/_version.py
