<h4>Responses settings</h4>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" style="padding-right: 10px">Ok after resend</label>
        <div class="controls">
            <input type="checkbox" data-bind="checked: settings.plugins.virtual_printer.okAfterResend">
            <p class="help-block">Whether to send an additional "ok" after a resend request (like Repetier)</p>
        </div>
    </div>
    <br>
    <div class="control-group">
        <label class="control-label" style="padding-right: 10px">Ok with line number</label>
        <div class="controls">
            <input type="checkbox" data-bind="checked: settings.plugins.virtual_printer.okWithLinenumber">
            <p class="help-block">Whether to send "ok" responses with the line number that gets acknowledged by the "ok". Defaults to false</p>
        </div>
    </div>
    <br>
    <div class="control-group">
        <label class="control-label" style="padding-right: 10px">Include current tool in temps</label>
        <div class="controls">
            <input type="checkbox" data-bind="checked: settings.plugins.virtual_printer.includeCurrentToolInTemps">
            <p class="help-block">Whether to include the current tool temperature in the M105 output as separate T segment or not.</p>
        </div>
    </div>
    <br>
    <div class="control-group">
        <label class="control-label" style="padding-right: 10px">Repetier style target temperature</label>
        <div class="controls">
            <input type="checkbox" data-bind="checked: settings.plugins.virtual_printer.repetierStyleTargetTemperature">
            <p class="help-block">If enabled, reports the set target temperatures as separate messages from the firmware</p>
        </div>
    </div>
    <br>
    <div class="control-group">
        <label class="control-label" style="padding-right: 10px">Smoothie style temperature reporting</label>
        <div class="controls">
            <input type="checkbox" data-bind="checked: settings.plugins.virtual_printer.smoothieTemperatureReporting">
            <p class="help-block">If enabled, reports the first extruder in M105 responses as T instead of T0</p>
        </div>
    </div>
    <br>
    <div class="control-group">
        <label class="control-label" style="padding-right: 10px">Ok before command output</label>
        <div class="controls">
            <input type="checkbox" data-bind="checked: settings.plugins.virtual_printer.okBeforeCommandOutput">
            <p class="help-block">If enabled, ok will be sent before a commands output, otherwise after or control-label (M105)</p>
        </div>
    </div>
    <br>
    <div class="control-group">
        <label class="control-label" style="padding-right: 10px">Include filename in opened</label>
        <div class="controls">
            <input type="checkbox" data-bind="checked: settings.plugins.virtual_printer.includeFilenameInOpened">
            <p class="help-block">Whether to include the selected filename in the M23 File opened response.</p>
        </div>
    </div>
    <br>
    <div class="control-group">
        <label class="control-label" style="padding-right: 10px">Extended file list</label>
        <div class="controls">
            <input type="checkbox" data-bind="checked: settings.plugins.virtual_printer.extendedFileList">
            <p class="help-block">Whether M20 responses will include filesize or not</p>
        </div>
    </div>
    <br>
    <div class="control-group">
        <label class="control-label" style="padding-right: 10px">Send wait responses</label>
        <div class="controls">
            <input type="checkbox" data-bind="checked: settings.plugins.virtual_printer.sendWait">
            <p class="help-block">Whether to send "wait" responses every "Wait Interval" seconds when serial RX buffer is empty</p>
        </div>
    </div>
    <br>
    <div class="control-group">
        <label class="control-label" style="padding-right: 10px">Wait Interval</label>
        <div class="controls">
            <input type="number" class="input-medium" data-bind="value: settings.plugins.virtual_printer.waitInterval">
            <p class="help-block">Interval in which to send "wait" lines when rx buffer is empty</p>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" style="padding-right: 10px">'ok' string format</label>
        <div class="controls">
            <input type="text" class="input-medium" data-bind="value: settings.plugins.virtual_printer.okFormatString">
            <p class="help-block">Format string for ok response. Placeholders:<br> <code>lastN</code>: Last acknowledged line number<br> <code>buffer</code>: empty slots in internal command buffer</p>
        </div>
    </div>
</form>
